spring:
  application:
    name: config-service
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations
server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health, info, beans, metrics, env
  endpoint:
    health:
      show-details: always
